.principal-title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.principal-dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    color: #4D4D4D;
}

.principal-dados h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.principal-dados h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
}

.principal-menu-navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal-menu-navegacao p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #4D4D4D;
}