.cadastro-title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.cadastro-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.cadastro-inputs input {
    width: 500px;
    height: 40px;
    border: 0px;
    border-bottom: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.cadastro-cadastrar {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.cadastro-cadastrar button {
    width: 280px;
    height: 40px;
    border: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #4D4D4D;
    border-radius: 4px;
}

.cadastro-cadastrar :hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #fff;
    background-color: #898584;
}

.cadastro-menu-navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-menu-navegacao p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #4D4D4D;
}